{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A fully featured web application for user profile customization." />

    <link rel="icon" href="" />

    {% block page_title %}
    {% endblock %}

</head>
<body>

    {% block modals %}
    {% endblock %}

    {% block navigation %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block js %}
    {% endblock %}

    {% block themes %}
    {% endblock %}

    {% block js_onload %}
    {% endblock %}
  </body>
</html>
